.env
venv/
.vscode/
.mypy_cache/
*finetuned*/
**/__pycache__/
*output*/
*finished*/
wandb/
data/

!trainer_output
trainer_output/*
!trainer_output/label_encoder.pkl
!trainer_output/multilabel_encoder.pkl
